/* Scss Document */

//----- Demo defaults -----


//----- Header styling -----
// Change this to fit your needs
// This example is assuming that you are using the hamburger menu button in the header

.responsive-globalmenu {
  position: absolute;
  top: 40px;
  right: 15%;
}



//----- Hamburger component -----

// Config
$hamburger__height: 22px;
$hamburger__width: 22px;
$hamburger__layer__height: 1.8px;
$hamburger__colour: #21212B;

// Structure
.hamburger {
  display: block;
opacity: 1.0;
  position: absolute;
  width: $hamburger__width;
  height: $hamburger__height;
  z-index: 2;
}

.hamburger-inner { 
  display: block;
  width: $hamburger__width;
  height: $hamburger__layer__height; 
  margin-top: $hamburger__layer__height * 4;
  background: $hamburger__colour;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  
  &::before, &::after { 
    display: block; 
    position: absolute; 
    content: "";
    z-index: -1;
    width: $hamburger__width; 
    height: $hamburger__layer__height; 
    background: $hamburger__colour;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
  }
  &::before {
    top: 0;
  }
  &::after {
    top: $hamburger__layer__height * 8;
  }
}

// Clicked State
.hamburger-open {
  .hamburger-inner {
    background: none;

    &::before, &::after {
      top: $hamburger__layer__height * 4; 
    }
    &::before {
      -webkit-transform: rotate(-45deg); 
      -ms-transform: rotate(-45deg); 
      transform: rotate(-45deg);
    }
    &::after {
      -webkit-transform: rotate(45deg); 
      -ms-transform: rotate(45deg); 
      transform: rotate(45deg);
    }
  } 
}