@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: mori;
    src: url('../fonts/UtsukushiFONT.otf');
}


*, *::before, *::after {
    box-sizing: border-box;
    /*コンテンツの大きさの中に、パディングとボーダーの広さを含める*/
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.5rem;
    text-align: center;
}

li {
    list-style: none;
}

a {
    color: inherit;
}

hr {
    margin: 35px;
}

#wrapper {
    max-width: 1000px;
    width: 100%;
    height: 100%;
}

.site-title {
    font-size: 4.0rem;
    background: #fff;
    color: #d1b695;
    padding: 30px;
    margin: 0;
    font-family: 'mori', sans-serif;
    height: 120px;
}

.section-title {
    font-size: 2.8rem;
    letter-spacing: 2px;
    padding: 25px;
    margin-bottom: 35px;
    background: #d1b695;
    color: #fff;
    text-shadow: 3px 3px 3px #222;
    font-family: 'mori', sans-serif;
}

.contents-title {
    display: inline-block;
    margin: 20px;
    padding: 3px 25px;
    border: solid 1px #d1b695;
    border-radius: 15px;
    font-family: 'mori', sans-serif;
}

/*----------------------------------------------------------------------------------
                                ヘッダ
----------------------------------------------------------------------------------*/
.responsive-globalmenu {
    display: none;
}

.header-section {
    background: url("../images/forrest.jpg") no-repeat;
    width: 100%;
    height: 400px;
    position: relative;
}

.global-navigation {
    background: linear-gradient(180deg, #d1b695, #6C503F);
    border-top: solid 1px #d1b695;
    padding: 15px;
}

.site__ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.site__ul li {
    display: table-cell;
    width: 100%;
}

.site__ul li a {
    width: 100%;
    height: 48px;
    border-left: dotted 1px #d1b695;
    display: block;
    padding: 18px 30px;
    text-align: center;
    color: #FFF;
}

.site__ul li:first-child a {
    border-left: none;
}

.site__ul li a:hover {
    transition: 0.7s;
    background: #fff;
    color: #d1b695;
}

/*----------------------------------------------------------------------------------
                                森のニュース
----------------------------------------------------------------------------------*/
.forrest-news-wrap {
    text-align: left;
    font-size: 1.7rem;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.forrest-news-wrap p {
    border-top: dotted 1px #d1b695;
    padding: 20px 0;
}

.forrest-news-wrap p time {
    color: #bf1d20;
    margin-right: 15px;
}

/*----------------------------------------------------------------------------------
                                動物の家
----------------------------------------------------------------------------------*/
.house, .weekpoint {
    margin-top: 35px;
}

.forrest-house-ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.forrest-house-ul li {
    max-width: 350px;
    width: 100%;
    margin: 0 20px;
}

.desc-title-text {
    font-size: 1.7rem;
    color: #888;
    margin: 20px auto 12px;
    padding-bottom: 8px;
    border-bottom: dotted 1px #d1b695;
    width: 280px;
}

.forrest-house-dl dd {
    line-height: 1.5;
    width: 300px;
    margin: 0 auto;
}

.forrest-house-dl {
    margin: 0 auto 60px;
}


/*----------------------------------------------------------------------------------
                                弱点
----------------------------------------------------------------------------------*/
.weekpoint-table {
    margin: 0 auto;
    border-spacing: 0;
    width: 700px;
}

.weekpoint-table thead th {
    padding: 15px;
    background: #d1b695;
    color: #fff;
}

.weekpoint-table tfoot th {
    padding: 15px;
    background: #999;
    color: #fff;
}

.weekpoint-table tbody th {
    padding: 15px;
    border-bottom: solid 1px #d1b695;
}

.weekpoint-table td {
    padding: 15px;
    border-bottom: solid 1px #d1b695;
}

.weekpoint-table caption {
    font-size: 1.7rem;
    letter-spacing: 2px;
    margin: 5px;
}


/*----------------------------------------------------------------------------------
                                フォームセクション
----------------------------------------------------------------------------------*/
#aside {
    margin-top: 35px;
    
}

/*フォームセクション*/
.form div {
    text-align: left;
    padding: 30px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border-bottom: solid 1px #d1b695;
}

.form p {
    margin-bottom: 15px;
}

/*フォームのラヂオボタン*/
.form-gender label {
    margin-right: 18px;
}

.form-gender label input {
    margin-right: 7px;
}

/*チェックボックスのラベル*/
.form-check label {
    margin-right: 18px;
}

/*チェックボックスの間隔指定*/
.form-check label input {
    margin-right: 7px;
}

/*送信、リセットボタンのデザイン。優先度の影響で、.formを先頭につけている*/
.form .form-button {
    text-align: center;
}

/*送信、リセットボタンのデザイン*/
.form-button input {
    margin: 0 20px;
    width: 100px;
    padding: 5px 0;
    background: #fff;
    border-radius: 10px;
    border: solid 1px #d1b695;
    outline: none;
}

.form-name p {
    display: inline-block;
}

.form-name input {
    margin: 0 auto;
    border: solid 1px #d1b695;
    outline: none;
    max-width: 200px;
    width: 100%;
}

.form-text textarea {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    border: solid 1px #d1b695;
    outline: none;
}

/*他のサイトへのリンク*/
.aside-section-two {
    margin-top: 30px;
}

.aside-link {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.aside-link li {
    margin: 0 20px;
}

/*----------------------------------------------------------------------------------
                                フッタ
----------------------------------------------------------------------------------*/
#footer {
    margin-top: 35px;
    padding: 30px;
    background: #777;
    color: #ddd;
}

.footer-link li {
    display: inline-block;
    margin: 0 12px;
}

.footer-address {
    font-style: normal;
}

.footer-address p {
    margin-top: 20px;
}





#hose {
    color: blue;
}

.huse {
    color: blue;
}


@media (max-width: 768px) {
    .global-navigation {
        background: none;
        border: none;
/*
        background: linear-gradient(180deg, #d1b695, #6C503F);
        border-top: solid 1px #d1b695;
        padding: 15px;
*/
    }
    
    .site__ul {
        display: none;
        opacity: 0;
        position: absolute;
        top: 120px;
        right: 0;
        width: 0;
        
/*
    display: table;
    table-layout: fixed;
    width: 100%;
*/
    }

    .site__ul li {
        display: block;
        background: linear-gradient(180deg, #d1b695, #6C503F);
/*
        display: table-cell;
        width: 100%;
*/
    }

    .site__ul li a {
        border-left: none;
        text-decoration: none;
        padding: 30px 30px;
        height: auto;
        
/*
        width: 100%;
        height: 48px;
        border-left: dotted 1px #d1b695;
        display: block;
        padding: 18px 30px;
        text-align: center;
        color: #FFF;
*/
    }

    .site__ul li:first-child a {
/*        border-left: none;*/
    }

    .site__ul li a:hover {
/*
        transition: 0.7s;
        background: #fff;
        color: #d1b695;
*/
    }
    
    
    .weekpoint {
        display: none;
    }
    
    .responsive-globalmenu {
        display: block;
    }
    
    .show {
        display: block;
        animation: opaci 0.5s forwards;
   
    }
    
    .forrest-news-wrap {
        padding-left: 15px;
    }
    
    .forrest-house-dl {
    }
    
    .form .form-check, .form .form-gender {
        padding: 30px 0;
    }
    
    .form .form-check::after, .form .form-gender::after {
        content: "";
        display: block;
        clear: both;
    }
    
    .form-check p, .form-gender p {
        padding-left: 20px;
    }
    
    .form-check label, .form-gender label {
        display: block;
        margin: 5px;
        padding: 20px;
        background: linear-gradient(#eee, #bbb);
        font-size: 1.8rem;
        width: 47%;
        float: left;
    }
    

    
    .footer-link li {
        display: block;
        margin: 0 12px 12px;
    }
}

@keyframes opaci {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}